$primary-color:     #096396;
$primary-light:     lighten($primary-color, 60%);
$primary-alpha:     rgba($primary-color, 0.75);

$font-family-base:  'Nunito', 'Open Sans', sans-serif;
$font-family-alt:   'Open Sans', sans-serif;
$font-size-base:    14px;

$field-height:      30px;
$field-width:       100%;

$default-spacing:   7px;

@import 'node_modules/geodashboard/src/styles/_variables';
