@import '_siasar-variables';

.filter-widget {
  select {
    width: $field-width;
    height: $field-height;
    margin-top: $default-spacing;
    color: $primary-color;
    font-size: 1em;
    border: 1px solid #096396;
    outline: none;
    background: none;
    font-family: $font-family-alt;
  }
}
